body{
    min-height: 100%;
    background-image: linear-gradient(rgba(254, 210, 128, 0.985), wheat);
}
header{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.468);
}
article{
    text-align: center;

}
footer{
    text-align: center;
}
hr{
    height: 3px;
    background: rgba(255, 0, 0, 0.963);
    box-shadow: 4px 5px 10px rgba(255, 0, 0, 0.2);
}
img#com{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.536);
}
p{
font-size: 20px;
font-style: italic;
}

